header {
    color: white;
    background-color: $primary;
    margin: -#{rem(30)} -#{rem(30)} 0 -#{rem(30)};
    padding: rem(20) rem(30);

    h1 {
        line-height: 1;
        margin: 0;
    }    

}