// Variables

// Fonts
$heading-font: 'Josefin Sans', sans-serif;
$body-font: 'Open Sans', sans-serif;

// Colours
$primary-lighter: rgba(142, 164, 210, 1);
$primary-light: rgba(98, 121, 184, 1);
$primary: rgba(102, 51, 153, 1);
$secondary: rgba(73, 111, 93, 1);
$secondary-light: rgba(76, 159, 112, 1);